#bookshelves-main-container {
  background-color: #e5e5e5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* sub container */
#bookshelves-sub-container {
  display: flex;
  flex-direction: column;
  /* border: 5px solid black; */
  width: 90%;
  margin-top: 20px;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  #bookshelves-sub-container {
    /* border: 5px solid black; */
    flex-direction: row;
    min-height: 100vh;
    width: 80%;
    margin-top: 20px;
    padding: 0px;
  }
}
/* left navbar */
#bookshelves-left-navbar {
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  #bookshelves-left-navbar {
    background-color: #ffffff;
    min-height: 90%;
    min-width: 150px;
  }
}
.left-navbar-heading {
  font: 600 14px 'Roboto';
  margin-left: 15px;
}
@media screen and (min-width: 768px) {
  .left-navbar-heading {
    font: 600 16px 'Roboto';
    margin-left: 15px;
  }
}
.list-container-of-bookshelves-options {
  list-style-type: none;
  margin-top: 10px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80vw;
}

.bookshelves-container {
  background-color: #e5e5e5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.bookshelves-sub-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 20px;
  padding: 10px;
}

@media screen and (min-width: 992px) {
  .bookshelves-sub-container {
    flex-direction: row;
    min-height: 100vh;
    width: 80%;
    margin-top: 20px;
    padding: 0px;
  }
}

.mobile-search-input-container {
  display: flex;
  margin-left: 15px;
}

@media screen and (min-width: 992px) {
  .mobile-search-input-container {
    display: none;
  }
}

.search-icon-and-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 2px solid #cbd5e1;
  box-shadow: 5px;
  border-radius: 4px;
}

.search-input {
  height: 37px;
  width: 250px;
  border: none;
  padding-left: 10px;
  color: #94a3b8;
}

.search-icon-container {
  padding: 7.5px 16px;
  background-color: #edeff1;
  border: none;
}

.search-icon {
  height: 14px;
  width: 14px;
  color: #94a3b8;
}

.bookshelves-left-navbar {
  background-color: transparent;
}

@media screen and (min-width: 992px) {
  .bookshelves-left-navbar {
    background-color: #ffffff;
    min-height: 90%;
    min-width: 150px;
  }
}

.left-navbar-heading {
  font: 600 14px 'Roboto';
  margin-left: 15px;
  color: #334155;
}
@media screen and (min-width: 992px) {
  .left-navbar-heading {
    font: 600 16px 'Roboto';
    margin-left: 15px;
    color: #334155;
  }
}

.bookshelves-options {
  list-style-type: none;
  margin-top: 10px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80vw;
}

@media screen and (min-width: 992px) {
  .bookshelves-options {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .render-book-list-container {
    width: 100%;
    margin-left: 10px;
  }
}

.desktop-search-container {
  display: none;
}

@media screen and (min-width: 992px) {
  .desktop-search-container {
    display: flex;
    justify-content: space-between;
    margin-left: 43px;
  }
}

.desktop-container-search-heading {
  display: none;
}

@media screen and (min-width: 992px) {
  .desktop-container-search-heading {
    display: flex;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    color: #334155;
  }
}

.bookshelves-show-container {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  min-height: 80vh;
  /* border: 2px solid blue; */
}

.no-books-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.no-books-image {
  width: 60%;
  height: 60%;
}

.search-result {
  font-family: 'Roboto';
  font-size: 24px;
  color: #334155;
}

@media screen and (max-width: 991px) {
  .search-result {
    font-size: 18px;
  }
}

.bookshelves-failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  width: 100%;
}

.loader {
  color: #0284c7;
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}

.bookshelves-show-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
